.header{
  height: 150px;
  text-align: center;
  background: linear-gradient(#00A4E4,#FEFEFE);
  
}



.line1{
    height: 25px;
     background-color: #176FC1;
     margin-top: -55px !important;
     border: 0;
}

.logo{
height: 95px;
float: left;
}

.container{
    
    margin-top: 15px;
    
}

.row{
    padding-top: 10px;
    padding-bottom: 30px;
    
}

.float-end{
    margin-top: 150px;
}

.rem{
    margin-top: 50px;
}

.card{
    height: 300px;
    width: 450PX;
    padding: 20px;
    border: 2px solid rgb(88, 162, 241) !important;
    border-radius: 15px !important;
    margin-left: 45px;
    


}
.sub{

    margin-left: 41rem;
}

.footer{
    
    text-align: center;
    background-color: #176FC1;
    color: white;
}

