BODY {
	BACKGROUND: white
}
BODY.EWMargin {
	BACKGROUND-COLOR: white; MARGIN: 0px 10px
}
BODY.EWGeneral {
	BACKGROUND-COLOR: white; MARGIN-LEFT: 6px; MARGIN-TOP: 0px
}
BODY.EWGeneral2 {
	BACKGROUND-COLOR: white; MARGIN-LEFT: 6px; MARGIN-TOP: 0px
}
BODY.EWGeneral0 {
	BACKGROUND-COLOR: white; MARGIN-LEFT: 0px; MARGIN-TOP: 0px
}
BODY.EWGeneral1 {
	BACKGROUND-COLOR: white; MARGIN-LEFT: 3px; MARGIN-RIGHT: 3px; MARGIN-TOP: 0px
}
.EWLabel {
	FONT: bold 9pt Arial
}
.EWLargeLabel {
	FONT: bold 13pt Arial
}
.EWLabel1 {
	COLOR: blue; FONT: 8pt Arial
}
.EWLabel3 {
	COLOR: black; FONT: 8pt Arial
}

.EWLabel3red {
	COLOR: red; FONT: 8pt Arial
}
.EWLabel2 {
	FONT: 7pt Arial
}
.EWLabelBlue {
	COLOR: blue; FONT: bold 9pt Arial
}
.EWNormalGreen {
	COLOR: green; FONT: 8pt Arial
}
.EWMessage {
	COLOR: blue; FONT: bold 9pt Arial; TEXT-ALIGN: center
}
.EWSuccess {
	COLOR: red; FONT: bold 11pt Arial
}
.EWMessageNormal {
	COLOR: red; FONT: 9pt Arial; TEXT-ALIGN: center
}
TD.EWSubHeader {
	BACKGROUND-COLOR: #dbeede; COLOR: blue; FONT: bold 9pt Arial; TEXT-ALIGN: center; VERTICAL-ALIGN: middle
}
TD.EWSubHeaderText {
	BACKGROUND-COLOR: #dbeede; COLOR: blue; FONT: bold 9pt Arial; TEXT-ALIGN: left; VERTICAL-ALIGN: middle;padding-left: 10px;
}
TD.EWSubHeaderNum {
	BACKGROUND-COLOR: #dbeede; COLOR: blue; FONT: bold 10pt Arial; TEXT-ALIGN: right; VERTICAL-ALIGN: middle
}
TD.EWSubHeaderRemarks {
	BACKGROUND-COLOR: #f6f6f6; COLOR: red; FONT: 7.5pt Arial; TEXT-ALIGN: left; VERTICAL-ALIGN: middle
}
A.EWSortedBy {
	COLOR: #800080
}
.EWHeader {
	BACKGROUND-COLOR: #dbeede
}
.EWTableBack {
	BACKGROUND-COLOR: #f6f6f6
}
TD.EWTableContents {
	BACKGROUND-COLOR: #f6f6f6; FONT: bold 8pt Arial; HEIGHT:16px; TEXT-ALIGN: center}
TD.EWTableContentsText {
	BACKGROUND-COLOR: #f6f6f6; FONT: 8pt Arial; HEIGHT:16px; TEXT-ALIGN: left; padding-left: 10px;
}
TD.EWTableContentsNum {
	BACKGROUND-COLOR: #f6f6f6; FONT: 8pt Arial; HEIGHT:16px; TEXT-ALIGN: right;
}

TD.EWTableContents1 {
	BACKGROUND-COLOR: #f6f6f6; FONT: 8pt Arial
}
.EWCombo {
	FONT: 9pt Arial
}
.EWFields {
	FONT: 9pt Arial ;Color :blue;
}



A.EWTableContents {
	COLOR: green; FONT: 8pt Arial
}
A.EWTableContents:hover {
	COLOR: red
}
A.EWTravelPlan {
	COLOR: red; FONT: 8pt Arial
}
A.EWTravelPlan:hover {
	COLOR: green
}
A.EWEnabledLink {
	COLOR: green; FONT: bold 9pt Arial; TEXT-DECORATION: none
}
A.EWEnabledLink:hover {
	COLOR: red
}
A.EWDisabledLink {
	COLOR: silver; FONT: bold 9pt Arial; TEXT-DECORATION: none
}
TD.EWDisabledOption {
	COLOR: silver; FONT: bold 9pt Arial
}
A.EWCalOtherMonth {
	COLOR: silver; FONT: 8pt Arial; TEXT-DECORATION: none
}
A.EWCalGeneral {
	COLOR: black; FONT: 8pt Arial; TEXT-DECORATION: none
}
A.EWCalToday {
	COLOR: blue; FONT: 8pt Arial; TEXT-DECORATION: none
}
.EWButton {
	BACKGROUND-COLOR: white; COLOR: rgb(50,126,65); FONT: bold 8pt Arial; TEXT-INDENT: 0px
}
HR.EWHLine {
	COLOR: #c0c0c0
}
.pgheaders1 {
	COLOR: red; FONT: bold 14pt Arial, Helvetica, sans-serif
}
A.EWEnabledLink1 {
	COLOR: green; FONT: 10pt Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.EWEnabledLink1:hover {
	COLOR: red
}
.pgcontenthead1 {
	COLOR: black; FONT: bold 10pt Arial, Helvetica, sans-serif
}
.pgcontent1 {
	COLOR: black; FONT: 10pt Arial, Helvetica, sans-serif
}

.EWErrorMessage {
font:bold 9pt Arial;color:blue;text-align:center;
}

.RemovedLiabilitiesRow
{
	COLOR:black;	background-color:#C9FFB8;
	FONT-FAMILY: Arial, Helvetica, sans-serif;FONT-WEIGHT: normal;font-size: 8pt; font:normal;
}