<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee;http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>FIC-CustomPages</display-name>
  <session-config>
    <cookie-config>
      <http-only>true</http-only>
      <secure>false</secure>
    </cookie-config>
  </session-config>
  <filter>
    <filter-name>ClickjackFilter</filter-name>
    <filter-class>com.newgen.filters.ClickjackFilter</filter-class>
    <init-param>
      <param-name>mode</param-name>
      <param-value>SAMEORIGIN</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>XssFilter</filter-name>
    <filter-class>com.newgen.filters.XssFilter</filter-class>
    <init-param>
      <param-name>HtmlElements</param-name>
      <param-value>javascript,script,iframe,frame,img,a,style,input,body,link,table,div,object,embed,document.body.innerHTML,textarea,details,onmouseover</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>ParameterEvaluateFilter</filter-name>
    <filter-class>com.newgen.filters.ParameterEvaluateFilter</filter-class>
    <init-param>
      <param-name>encoding-value</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>unevaluated-headers</param-name>
      <param-value>referer,Referer</param-value>
    </init-param>
    <init-param>
      <param-name>unevaluated-urls</param-name>
      <param-value>temp.jsp,registerStamps.jsp,UploadDocument,CheckInDocument,UploadInstrument,RegisterStamp,UploadAddMultipleFolders.jsp,ChangePassword,addDocument.jsp,closeadddoc.jsp,dragupload.jsp,adddocprocessdrag.jsp,checkinprocess.jsp,checkin.jsp,bulkUpload/,addBlkDocument</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>ClickjackFilter</filter-name>
    <url-pattern>/</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ClickjackFilter</filter-name>
    <url-pattern>/AddDocument</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ClickjackFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>XssFilter</filter-name>
    <url-pattern>/</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>XssFilter</filter-name>
    <url-pattern>/AddDocument</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>XssFilter</filter-name>
    <url-pattern>/UploadDocument</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>XssFilter</filter-name>
    <url-pattern>/ViewDoc</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>XssFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ParameterEvaluateFilter</filter-name>
    <url-pattern>/</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ParameterEvaluateFilter</filter-name>
    <url-pattern>/AddDocument</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ParameterEvaluateFilter</filter-name>
    <url-pattern>/UploadDocument</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ParameterEvaluateFilter</filter-name>
    <url-pattern>/ViewDoc</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ParameterEvaluateFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>DisabledMethods</web-resource-name>
      <url-pattern>/*</url-pattern>
      <http-method>PUT</http-method>
      <http-method>TRACE</http-method>
      <http-method>DELETE</http-method>
      <http-method>OPTIONS</http-method>
    </web-resource-collection>
    <auth-constraint/>
  </security-constraint>
</web-app>